{
  "SSID_GuUe": "your_ssid_value",
  "SSSC_GuUe": "your_sssc_value",
  "device_id": "your_device_id",
  "ajs_anonymous_id": "your_anonymous_id",
  "_gcl_au": "your_gcl_au",
  "c_locale": "en-US",
  "NEXT_LOCALE": "en",
  "sso_client_name": "CR Backend",
  "client_id": "kmj7imhjt_q90lcbzzsj",
  "OptanonAlertBoxClosed": "2025-10-29T17:56:27.435Z",
  "__cf_bm": "your_cloudflare_bm_token",
  "OptanonConsent": "your_optanon_consent",
  "cf_clearance": "your_cloudflare_clearance_token",
  "SSRT_GuUe": "your_ssrt_value"
}
